.commenting{
    padding: 15px;
    margin-bottom: 25px;
    box-shadow: 2px 3px 10px 1px #ccc;
    border-radius: 5px;
    background-color: #E6F9FD;
}
.save{
    width: 100%;
    margin-top: 30px;
    background-color: #1471EA;
    border: none;
    color: #fff;
    border-radius: 30px;
    padding: 5px;
}
.type{
    outline: none;
    border: none;
    width: 60%;
}
@media (min-width:400px) {
    .type{
        width: 100%;
    }
}
@media (min-width:992px) {
    .type{
        width: 60%;
    }
}