.containerRegister {
  font-family: "BYekan";
  width: 50%;
  margin: 150px auto;
}
.page {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 2px 3px 10px 1px #ccc;
}
.Registerpicture {
  width: 360px;
  height: 60vh;
}
.Registerpicture img {
  width: 100%;
  height: 100%;
  border-radius: 25px 0 0 25px;
  opacity: 90%;
}
.Registertitle {
  text-align: center;
}
#form {
  width: 90%;
  margin: 0 auto;
}
#form .typeRegister {
  width: 100%;
  height: 100%;
  text-align: right;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #dbd6d6;
  transition: 0.5s all ease-in-out;
}
.rmdp-input {
  padding: 17px 5px 17px 0 !important;
  border-radius: 10px !important;
  cursor: pointer;
}
#form .typeRegister:hover {
  /* transform: scale(1.01); */
  border: 1px solid #41afe6;
  cursor: pointer;
}
.Registerusername {
  margin-bottom: 13px;
}
#birth,
#call,
#password,
#id,
#email {
  margin-bottom: 13px;
}
.remember {
  font-size: 13px;
  margin-bottom: 40px;
}
.forget {
  color: black;
}
.tik {
  color: #7a7676;
  display: flex;
  justify-content: flex-end;
}
.login {
  margin-bottom: 10px;
}
#sendBtn {
  width: 100%;
  border: none;
  background-color: #41afe6;
  padding: 15px;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #ccc;
  font-size: 16px;
  font-family: "BYekan";
}
.register {
  text-align: center;
}
.reg {
  font-size: 13px;
  color: #41afe6;
}
@media (min-width: 400px) {
  .containerRegister {
    width: 90%;
  }
  .Registerpicture {
    width: 100%;
  }
  .Registerpicture img {
    height: 89%;
    border-radius: 25px 25px 0 0;
  }
  .register {
    margin-bottom: 20px;
  }
}
@media (min-width: 576px) {
  .Registerpicture img {
    height: 89%;
    border-radius: 25px 25px 0 0;
  }
  #sendBtn {
    padding: 10px;
    font-size: 14px;
  }
  .register {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .containerRegister {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .Registerpicture {
    width: 50%;
  }
  .Registerpicture img {
    height: 100%;
    border-radius: 25px 0 0 25px;
  }
  .register {
    margin-bottom: 0;
  }
}
@media (min-width: 1400px) {
  .Registerpicture img {
    height: 100%;
    border-radius: 25px 0 0 25px;
  }
}
