.dashboardAdmin{
    background-color: #999999;
    color: #fff;
    text-align: right;
    padding: 20px;
    border-radius: 5px 5px 0 0;
}

@media (min-width:576px) {
    .adminListDetail{
        font-size: 10px;
    }
}
@media (min-width:992px) {
    .adminListDetail{
        font-size: 14px;
    }
}