.checkOnline {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    width: 150px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    text-align: center;
    border-radius: 35px;
    animation-name: menuButton;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    cursor: pointer;
    z-index: 1000;
}
@keyframes menuButton {
    0%{transform: scale(1);}
    50%{transform: scale(1.05);}
    100%{transform: scale(1);}
  }